/* Root Styles CSS */
:root {
    background-color: var(--pico-background-color);
    --pico-font-family: "Lexend Deca", Helvetica, sans-serif;
    color: var(--pico-color);
}

/* Header CSS */
.header-container {
    overflow: hidden;
    padding: 20px 10px;
    padding-bottom: 60px;
  }

.header-left {
    float: left;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 200px;
    width: 750px;
}

.header-left img {
    height: 200px;
}

.header-left h1 {
    float: right;
    font-size: 45px;
    
}

.header-right {
    float: right;
    margin-right: 5px;
}

.header-right button {
    font-weight: bold;
}

/* Home page CSS */

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    height: 375px;
    background: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(3, 7, 89);
    border-radius: 0.3rem;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.057);
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 60px;
}

.card p {
    font-size: 16px;
}

.top-container {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 80px;
}

.learn-more-btn {
    padding: 10px 20px;
    position: absolute;
    border: none;
    right: 20px;
    bottom: 20px;
    font-weight: bold;
    transition: background 0.2s;
}
.card {
    position: relative;
}
.learn-more-btn:hover {
    background-color: rgb(180, 12, 105);
}

/* 404 Page CSS */

.fof-container{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: black;
}

.fof {
    display: table-cell;
    vertical-align: middle;
}

.fof h1 {
    display: inline-block;
    padding-right: 12px;
    animation: type .6s alternate infinite;
}

@keyframes type {
    from {box-shadow: inset -3px 0px 0px #888;}
    to {box-shadow: inset -3px 0px 0px transparent;}
}

/* Detail Page CSS*/

.mineral-info {
    display: flex;
    flex-direction: row;
}

.image-container {
    padding-left: 100px;
    width: 40vw;
}

.mineral-details {
    width: 45vw;
}